/* Responsive Design Setup */
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    display: block;
    float: left;
    padding: 1em;
    /*border: 1px solid red;*/
    width: 100%;
}
.col-fill {display: none;}

#menu-icon {

    display:inline-block;

}
nav ul, nav:active ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    float: right;
/*    position: absolute;
    padding: 20px;
    background: #fff;
    border: 5px solid #444;
    right: 20px;
    top: 60px;
    width: 50%;
    border-radius: 4px 0 4px 4px;
*/
}


nav:hover ul {
    display: block;
}

@media only screen and (min-width: 640px) {
    body {
        width: 600px;
        margin: 0 auto;
    }

    .col-fill {display: block;}
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 1000px) {
    body {
        width: 960px;
    }

    nav ul, nav:active ul {
        display: block;
        position: relative;
/*
        top: auto;
        right: auto;*/
    }
    nav li {
        display: inline-block;
        float: left;
        padding: 0px 10px;

    /*    text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;
    */
    }
    #menu-icon {
        display: none;
    }

    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (min-width: 1190px) {
    body {
        width: 1150px;
    }
    .col-w-1 {width: 8.33%;}
    .col-w-2 {width: 16.66%;}
    .col-w-3 {width: 25%;}
    .col-w-4 {width: 33.33%;}
    .col-w-5 {width: 41.66%;}
    .col-w-6 {width: 50%;}
    .col-w-7 {width: 58.33%;}
    .col-w-8 {width: 66.66%;}
    .col-w-9 {width: 75%;}
    .col-w-10 {width: 83.33%;}
    .col-w-11 {width: 91.66%;}
    .col-w-12 {width: 100%;}
}
